@model WebStore.Models.ViewModel.AppointmentDetailsViewModel
@using WebStore.Utility
@using WebStore.Extensions
@{
    ViewData["Title"] = "Delete";
}

<h1 class="mt-1 text-info">Delete appointment</h1>
<form method="post" asp-action="Delete">
    <input type="hidden" asp-for="Appointment.Id" />
    <div class="p-4 border rounded row">
        <div class="col-6">
            <div class="row form-group">
                <div class="col-3">
                    <label asp-for="Appointment.AppointmentDay"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Appointment.AppointmentDay" class="form-control" disabled />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-3">
                    <label asp-for="Appointment.CustomerName"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Appointment.CustomerName" class="form-control" disabled />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-3">
                    <label asp-for="Appointment.CustomerSurname"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Appointment.CustomerSurname" class="form-control" disabled />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-3">
                    <label asp-for="Appointment.CustomerPhoneNumber"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Appointment.CustomerPhoneNumber" class="form-control" disabled />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-3">
                    <label asp-for="Appointment.CustomerEmail"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Appointment.CustomerEmail" class="form-control" disabled />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-3">
                    <label asp-for="Appointment.Line1"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Appointment.Line1" class="form-control" disabled />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-3">
                    <label asp-for="Appointment.Zip"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Appointment.Zip" class="form-control" disabled />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-3">
                    <label asp-for="Appointment.City"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Appointment.City" class="form-control" disabled />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-3">
                    <label asp-for="Appointment.Country"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Appointment.Country" class="form-control" disabled />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-3">
                    <label asp-for="Appointment.SalesPerson"></label>
                </div>
                <div class="col-7">
                    @if (User.IsInRole(SD.SuperAdminEndUser))
                    {
                        <select asp-for="@Model.Appointment.SalesPersonID" asp-items="@Model.SalesPersons.ToSelectListItem(Model.Appointment.SalesPersonID)" class="form-control" disabled>
                            <option value="">Select a SalesPerson</option>
                        </select>
                    }
                    else if (User.IsInRole(SD.AdminEndUser))
                    {
                        <input type="hidden" asp-for="@Model.Appointment.SalesPersonID" />
                        <input asp-for="@Model.Appointment.SalesPerson.Name" class="form-control" disabled />
                    }
                </div>
            </div>

            <div class="row form-group">
                <div class="col-3">
                    <label asp-for="Appointment.CustomerPhoneNumber"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Appointment.CustomerPhoneNumber" class="form-control" disabled />
                </div>
            </div>

            <div class="row form-group">
                <div class="col-3">
                    <label asp-for="Appointment.IsConfirmed"></label>
                </div>
                <div class="col-7">
                    <input asp-for="Appointment.IsConfirmed" class="form-control" style="width: 15px" disabled />
                </div>
            </div>
        </div>

        <div class="col-6">
            <partial name="_AppointmentProductDetailsPartial" model="@Model.Products" />
        </div>
        <br />

        <div class="form-group">
            <input type="submit" asp-route-id="@Model.Appointment.Id" class="btn btn-danger" value="Delete" />
            <a class="btn btn-success" asp-action="Index">Back to list</a>
        </div>
    </div>
</form>